<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello world</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
     .class1 {
         background-color: aqua;
         font-family: Algerian;
         color: brown;
     }
     #Id1 {
  background-color: lightblue;
  color: black;
  padding: 40px;
  text-align: center;
}

 </style>
</head>
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<body>

<div class="class1">
<h1 title=pl"It's a Heading"> hiiiiiiiiiiiiiiiiiiiiiii</h1>
<h2>
    hello<br>
    I <b>live</b> in <b><i>Jalandhar</i></b>
</h2>
</div>
<h2 id="Id1">This is id</h2><br><br>
<div class="class1">
    My name is <b>{{ name_html }}</b><br>
    I live in <b>{{ resi_html }}</b><br>
    My email is <b>{{ email_html }}</b><br>
    My password is <b>{{ password_html }}</b><br>
    My date of birth is <b>{{ dob_html }}</b><br>

</div>
<div class="container">
  <h2>Button Styles</h2>
  <button type="button" class="btn">Basic</button>
  <button type="button" class="btn btn-primary">Primary</button>
  <button type="button" class="btn btn-secondary">Secondary</button>
  <button type="button" class="btn btn-success">Success</button>
  <button type="button" class="btn btn-info">Info</button>
  <button type="button" class="btn btn-warning">Warning</button>
  <button type="button" class="btn btn-danger">Danger</button>
  <button type="button" class="btn btn-dark">Dark</button>
  <button type="button" class="btn btn-light">Light</button>
  <button type="button" class="btn btn-link">Link</button>
</div>
</body>
</html>